<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>V-if e V-else - F035</title>
</head>
<body>
<div id="app">
    <h1>Produtos</h1>
    <ul>
        <li v-for="produto in produtos">{{ produto.nome }}</li>
    </ul>

    <ul>
        <li v-for="produto in produtos" :key="produto.id">{{ produto.nome }}</li>
    </ul>
    <button @click="produtos.reverse()">Inverter produtos</button>
    <button @click="addProduto">Adicionar produto</button>


</div>

<script type="text/javascript">
    const vm = new Vue({
        el: "#app",
        data: {
            produtos: [
                { id: 1, nome: 'Monitor'},
                { id: 2, nome: 'Teclado'},
                { id: 3, nome: 'Mouse'},
                { id: 4, nome: 'Processador'}
            ]
        },
        methods: {
            addProduto(){
                var id = this.produtos.length + 1;
                this.produtos.push({id: id, nome: 'Produto ' + id});
            }
        }
    });
</script>
</body>
</html>
